/* Classificacao */

#classificacao {
  float: left;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 3px;
  box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.8);
  border-spacing: 0px;
}

#classificacao thead {
  height: 50px;
  background: rgba(40, 55, 70, 0.9);
  border: 1px solid rgba(80, 90, 100, 0.9);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: rgba(247, 247, 247, 1);
  font-size: large;
  text-align: center;
  line-height: 50px;
}

#classificacao th {
  font-weight: 100;
  border-top: 1px solid rgba(80, 90, 100, 0.9);
}

#classificacao thead tr th:first-child {
  border-left: 1px solid rgba(80, 90, 100, 0.9);
  border-top-left-radius: 3px;
}

#classificacao thead tr th:last-child {
  border-right: 1px solid rgba(80, 90, 100, 0.9);
  border-top-right-radius: 3px;
}

#classificacao .accent {
  background: transparent;
  background: rgba(40, 55, 70, 0.9);
  color: rgba(247, 247, 247, 1);
  font-size: small;
  text-align: center;
}

#classificacao .accent td:not(:empty), #classificacao .accent td:not(:empty) + td {
    border-left: 1px solid rgba(80, 90, 100, 0.5);
}

#classificacao .accent .divider + td, #classificacao .accent .border + td {
    border-left: 1px solid rgba(80, 90, 100, 0.9) !important;
}

#classificacao .accent td:last-child {
  border-right: 1px solid rgba(80, 90, 100, 0.9);
}

#classificacao tbody tr {
  background: rgba(25, 36, 42, 0.9);
  color: rgba(180, 180, 180, 1);
}

#classificacao tbody tr td {
  padding-left: 5px;
  padding-right: 5px;
  padding: 3px 10px 3px 10px;
    text-align: center;
}

#classificacao tbody tr td:nth-child(1)
{
    border-left: 1px solid rgba(80, 90, 100, 0.9);
}

#classificacao tbody tr:not(.accent) td {
    border-top: 1px solid rgba(80, 90, 100, 0.5);
}

#classificacao tbody tr.accent + tr > td {
    border-top: 1px solid rgba(80, 90, 100, 0.9);
}

#classificacao tbody tr:not(.accent) td:nth-child(n+3) {
  border-left: 1px solid rgba(80, 90, 100, 0.5);
}

#classificacao tbody tr:not(.accent) .divider + td, #classificacao tbody tr:not(.accent) .border + td {
  border-left: 1px solid rgba(80, 90, 100, 0.9);
}

#classificacao tbody tr:not(.accent) td:last-child {
  border-right: 1px solid rgba(80, 90, 100, 0.9);
}

#classificacao tbody tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

#classificacao tbody tr:last-child td {
  border-bottom: 1px solid rgba(80, 90, 100, 0.9);
}

#classificacao tbody tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

#classificacao tbody tr:nth-child(2) td {
    color: rgba(240,210,0,1);
}

#classificacao .md-sg-1, #classificacao .standings-champions {
    color: rgba(220,220,220,1);
}

#classificacao .md-sg-2, #classificacao .standings-champions-playoff {
    color: rgba(210,210,210,1);
}

#classificacao .md-sg-3, #classificacao .standings-uefa {
    color: rgba(200,200,200,1);
}

#classificacao .md-sg-4, #classificacao .standings-uefa-playoff {
    color: rgba(190,190,190,1);
}

#classificacao .md-sg-5, #classificacao .standings-relegated {
    color: rgba(200,50,50,1);
}

#classificacao .md-sg- {
    /*color: rgba(175,175,175,1);*/
}

#classificacao tbody tr:not(.accent) td:first-child {
    text-align: right;
}

#classificacao tbody tr:not(.accent) td:first-child img {
    float: left;
}